body {
    padding-left: 7%;
    padding-right: 7vw;
    background-color: #dddddd;
    justify-content: center;
    font-family: arial, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    /*max-width: 0%;*/
    display: inline-table;
    border-spacing: 0px 0px;
}

.img_artist_1 {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    max-width: 10em;
    max-width: 10em;
    height: auto;
    width: 100%;
}

.img_artist {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    max-width: 5em;
    max-width: 5em;
    height: auto;
    width: 100%;
}

th {
    background-color: blue;
    border:none;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: .7em;
    font-weight: bold;
    min-width: 5em;
}


td {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    font-size: 1.3em;
}


.title_main_container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    padding: 0;
    margin: 0;
    vertical-align: center;
}


.edge_container_left {
    padding: 0;
    margin: 0;
    display: flex;
    text-align: left;
    flex-direction: row;
    width: 23vw;
}


.edge_container_right {
    padding: 0;
    padding-top: 0.5em;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    font-size: 0.5em;
    width: 13vw;
}


.center_container {
    padding: 0;
    margin-top: 0.25em;
    display: flex;
    background-color: white;
    width: 51.5vw;
    height: 0.5em;
    vertical-align: center;
}


.highlight {
    background-color: white;
}


.highlight_plus {
    background-color: white;
    width: 10px;
    height:10px;
    alt: icon;
}


.highlight_pic_big {
    background-color: white;
    background: url("Billboard100_pics/ATLiens.jpg");
    background-position: .5em center;
    background-size: 20em 20em;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.highlight_pic {
    /*width: 100%;*/
    height: 100%;
    object-fit: cover;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.artist {
    font-weight: normal;
}


.trend_icons {
    background-color: white;
    object-fit: cover;
    padding: 0%;
}


.up_arrow_container {
    background: url("SVGs/arrow_up.svg");
    background-position: .5em center;
    background-size: 3em 3em;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    text-align: left;
    padding-left: 4em;
    width: 100%;
    height: 2.5em;
    border: 0;
    margin: 0;
    border-bottom: 1px solid lightgray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.down_arrow_container {
    background: url("SVGs/arrow_down.svg");
    background-position: .5em center;
    background-size: 3em 3em;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    text-align: left;
    padding-left: 4em;
    width: 100%;
    height: 2.5em;
    border: 0;
    margin: 0;
    border-bottom: 1px solid lightgray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.same_arrow_container {
    background: url("SVGs/arrow_same.svg");
    background-position: .5em center;
    background-size: 3em 3em;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    text-align: left;
    padding-left: 4em;
    width: 100%;
    height: 2.5em;
    border: 0;
    margin: 0;
    border-bottom: 1px solid lightgray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.column_one_style_override {
    background-color: black;
    color: white;
    min-width: 3.5em;
} 


.columns_two_to_five_style_override {
    background-color: white;
} 
